Json of Node-Red Dashboard/Flood monitoring system - NodeRed.json
[
    {
        "id": "cd45d37c491888c9",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2b2c57822477ee27",
        "type": "mqtt in",
        "z": "cd45d37c491888c9",
        "name": "Sensor Data",
        "topic": "sensor/data",
        "qos": "0",
        "datatype": "auto",
        "broker": "86073f5931a20ad5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 440,
        "wires": [
            [
                "354c781cf70d96af"
            ]
        ]
    },
    {
        "id": "354c781cf70d96af",
        "type": "json",
        "z": "cd45d37c491888c9",
        "name": "Parse JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 420,
        "wires": [
            [
                "b0c4ceadcb083e29",
                "faba68451a170f3d",
                "cb881da4dd6a8237",
                "7ff869a9f1399ebb",
                "a58957a8a73ef56b",
                "cadec21c2c17fc8e",
                "3bd07a8c1913197e"
            ]
        ]
    },
    {
        "id": "b0c4ceadcb083e29",
        "type": "ui_gauge",
        "z": "cd45d37c491888c9",
        "name": "Temperature",
        "group": "56fccf47fa0923d4",
        "order": 2,
        "width": 9,
        "height": 8,
        "gtype": "gage",
        "title": "Temperature (°C)",
        "label": "°C",
        "format": "{{msg.payload.temperature}}",
        "min": 0,
        "max": 50,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": 25,
        "seg2": 40,
        "x": 790,
        "y": 100,
        "wires": []
    },
    {
        "id": "faba68451a170f3d",
        "type": "ui_gauge",
        "z": "cd45d37c491888c9",
        "name": "Humidity",
        "group": "56fccf47fa0923d4",
        "order": 12,
        "width": 9,
        "height": 9,
        "gtype": "gage",
        "title": "Humidity (%)",
        "label": "%",
        "format": "{{msg.payload.humidity}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": 50,
        "seg2": 80,
        "x": 820,
        "y": 280,
        "wires": []
    },
    {
        "id": "cb881da4dd6a8237",
        "type": "ui_text",
        "z": "cd45d37c491888c9",
        "group": "group_temp_hum",
        "order": 3,
        "width": 12,
        "height": 2,
        "name": "Distance",
        "label": "Distance to the water level in(cm) :",
        "format": "{{msg.payload.distance}} cm",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "26",
        "color": "#10cdda",
        "x": 820,
        "y": 460,
        "wires": []
    },
    {
        "id": "7ff869a9f1399ebb",
        "type": "function",
        "z": "cd45d37c491888c9",
        "name": "Add Timestamp_3",
        "func": "// msg.payload = {\n//     x: new Date().toLocaleTimeString(),\n//     y: msg.payload.distance\n// };\n// return msg;\n\n// msg.topic = \"Distance\";\n// msg.payload = { \n//     x: new Date().toLocaleTimeString(), \n//     y: msg.payload.distance \n// };\n// return msg;\n\nmsg.payload = msg.payload.distance;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 680,
        "wires": [
            [
                "eaaf775c86778ced"
            ]
        ]
    },
    {
        "id": "a58957a8a73ef56b",
        "type": "function",
        "z": "cd45d37c491888c9",
        "name": "Flood Warning",
        "func": "if (msg.payload.distance > 20) {\n    msg.payload = \"Safe - no flood warning\";\n    msg.color = \"green\";\n} else {\n    msg.payload = \"Unsafe - flood warning\";\n    msg.color = \"red\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 560,
        "wires": [
            [
                "5cdf5a601a4b3491"
            ]
        ]
    },
    {
        "id": "5cdf5a601a4b3491",
        "type": "ui_text",
        "z": "cd45d37c491888c9",
        "group": "group_temp_hum",
        "order": 8,
        "width": 12,
        "height": 2,
        "name": "Flood Warning Message",
        "label": "Flood Status :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "26",
        "color": "#d33636",
        "x": 1010,
        "y": 620,
        "wires": []
    },
    {
        "id": "eaaf775c86778ced",
        "type": "ui_chart",
        "z": "cd45d37c491888c9",
        "name": "Distance Graph_3",
        "group": "group_temp_hum",
        "order": 13,
        "width": 16,
        "height": 13,
        "label": "Distance to the water level",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "200",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1030,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "cadec21c2c17fc8e",
        "type": "function",
        "z": "cd45d37c491888c9",
        "name": "Add Timestamp_1",
        "func": "// msg.payload = {\n//     x: new Date().toLocaleTimeString(),\n//     y: msg.payload.distance\n// };\n// return msg;\n\n// msg.topic = \"Distance\";\n// msg.payload = { \n//     x: new Date().toLocaleTimeString(), \n//     y: msg.payload.distance \n// };\n// return msg;\n\nmsg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 180,
        "wires": [
            [
                "85f2e854493b6230"
            ]
        ]
    },
    {
        "id": "85f2e854493b6230",
        "type": "ui_chart",
        "z": "cd45d37c491888c9",
        "name": "Distance Graph_1",
        "group": "56fccf47fa0923d4",
        "order": 3,
        "width": 10,
        "height": 8,
        "label": "Temperature Over Time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "25",
        "ymax": "35",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1110,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "3bd07a8c1913197e",
        "type": "function",
        "z": "cd45d37c491888c9",
        "name": "Add Timestamp_2",
        "func": "// msg.payload = {\n//     x: new Date().toLocaleTimeString(),\n//     y: msg.payload.distance\n// };\n// return msg;\n\n// msg.topic = \"Distance\";\n// msg.payload = { \n//     x: new Date().toLocaleTimeString(), \n//     y: msg.payload.distance \n// };\n// return msg;\n\nmsg.payload = msg.payload.humidity;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 360,
        "wires": [
            [
                "8ec4f9af3520046c"
            ]
        ]
    },
    {
        "id": "8ec4f9af3520046c",
        "type": "ui_chart",
        "z": "cd45d37c491888c9",
        "name": "Distance Graph_2",
        "group": "56fccf47fa0923d4",
        "order": 13,
        "width": 10,
        "height": 9,
        "label": "Humidity Over Time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "50",
        "ymax": "100",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1110,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "cb29a26d959b202a",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "group_temp_hum",
        "order": 1,
        "width": 20,
        "height": 1
    },
    {
        "id": "10e9eee3b5b00330",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "group_temp_hum",
        "order": 2,
        "width": 4,
        "height": 1
    },
    {
        "id": "0684115cea6e4d06",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "group_temp_hum",
        "order": 4,
        "width": 4,
        "height": 1
    },
    {
        "id": "2fc397dc3313654d",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "group_temp_hum",
        "order": 5,
        "width": 4,
        "height": 1
    },
    {
        "id": "086c3fa3153ba9b6",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "group_temp_hum",
        "order": 6,
        "width": 4,
        "height": 1
    },
    {
        "id": "4b7a23a49f46baf9",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "group_temp_hum",
        "order": 7,
        "width": 4,
        "height": 1
    },
    {
        "id": "65d5d13437dc46c4",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "group_temp_hum",
        "order": 9,
        "width": 4,
        "height": 1
    },
    {
        "id": "57c399f325f66846",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "group_temp_hum",
        "order": 10,
        "width": 4,
        "height": 1
    },
    {
        "id": "cf6c7b1dec9bc2a6",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "group_temp_hum",
        "order": 11,
        "width": 4,
        "height": 1
    },
    {
        "id": "f8b598edbd375f83",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "group_temp_hum",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "3358b197fb8aec76",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "group_temp_hum",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "16ce2502ede39436",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "group_temp_hum",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "9db4702f48140d86",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "group_temp_hum",
        "order": 16,
        "width": 2,
        "height": 1
    },
    {
        "id": "24676475357b7321",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "group_temp_hum",
        "order": 17,
        "width": 2,
        "height": 1
    },
    {
        "id": "ca41f89c260911f9",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "group_temp_hum",
        "order": 18,
        "width": 2,
        "height": 1
    },
    {
        "id": "01783c12873f99c9",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "group_temp_hum",
        "order": 19,
        "width": 2,
        "height": 1
    },
    {
        "id": "a81cf2980eae1b59",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "group_temp_hum",
        "order": 20,
        "width": 2,
        "height": 1
    },
    {
        "id": "5ffa5b588f83d3c8",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "group_temp_hum",
        "order": 21,
        "width": 2,
        "height": 1
    },
    {
        "id": "b31dfc6e79114998",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "group_temp_hum",
        "order": 22,
        "width": 2,
        "height": 1
    },
    {
        "id": "fdfe209195d671b8",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "group_temp_hum",
        "order": 23,
        "width": 2,
        "height": 1
    },
    {
        "id": "18d20bb33ffcdcfa",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "group_temp_hum",
        "order": 24,
        "width": 2,
        "height": 1
    },
    {
        "id": "3f05218ae3bf24cd",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "group_temp_hum",
        "order": 25,
        "width": 2,
        "height": 1
    },
    {
        "id": "90319960f4c2163f",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "group_temp_hum",
        "order": 26,
        "width": 2,
        "height": 1
    },
    {
        "id": "ed9c1ae7b3b38c50",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "group_temp_hum",
        "order": 27,
        "width": 2,
        "height": 1
    },
    {
        "id": "e298e4fce5c5398d",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "group_temp_hum",
        "order": 28,
        "width": 2,
        "height": 1
    },
    {
        "id": "c6bddff001b98ccf",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "group_temp_hum",
        "order": 29,
        "width": 2,
        "height": 1
    },
    {
        "id": "0d315458e0959762",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "group_temp_hum",
        "order": 30,
        "width": 2,
        "height": 1
    },
    {
        "id": "d3362d68366d3be5",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "group_temp_hum",
        "order": 31,
        "width": 2,
        "height": 1
    },
    {
        "id": "33dce606d5c214e3",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "group_temp_hum",
        "order": 32,
        "width": 2,
        "height": 1
    },
    {
        "id": "15fde082dce2b460",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "group_temp_hum",
        "order": 33,
        "width": 2,
        "height": 1
    },
    {
        "id": "ffab851be6644d70",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "group_temp_hum",
        "order": 34,
        "width": 2,
        "height": 1
    },
    {
        "id": "d9d2915f93f7eaca",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "group_temp_hum",
        "order": 35,
        "width": 2,
        "height": 1
    },
    {
        "id": "c93a8cc9778d2aac",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "group_temp_hum",
        "order": 36,
        "width": 2,
        "height": 1
    },
    {
        "id": "013c7587394b5b1e",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "group_temp_hum",
        "order": 37,
        "width": 2,
        "height": 1
    },
    {
        "id": "fb213bd2a399509d",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "group_temp_hum",
        "order": 38,
        "width": 2,
        "height": 1
    },
    {
        "id": "c579c8a26287393a",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "56fccf47fa0923d4",
        "order": 1,
        "width": 20,
        "height": 1
    },
    {
        "id": "583ecdbf3d257fa7",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "56fccf47fa0923d4",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "de87d6272cd79cb5",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "56fccf47fa0923d4",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "1533abffbaee1afc",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "56fccf47fa0923d4",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "3d45fb63eb212aa9",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "56fccf47fa0923d4",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "a67f97ec573220c5",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "56fccf47fa0923d4",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "3005102f5291a56b",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "56fccf47fa0923d4",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "8215dff74b8e2c3d",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "56fccf47fa0923d4",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "6dadeee2ad7010d0",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "56fccf47fa0923d4",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "63dcbb8be3cb075c",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "56fccf47fa0923d4",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "8a6222e8cc2b7d1d",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "56fccf47fa0923d4",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "f032fad33985dfec",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "56fccf47fa0923d4",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "ba748885b5e2ce93",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "56fccf47fa0923d4",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "66c3474d011ab799",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "56fccf47fa0923d4",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "b21603b0d87f8be6",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "56fccf47fa0923d4",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "a22224140de27685",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "56fccf47fa0923d4",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "38c41980da28ccf7",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "56fccf47fa0923d4",
        "order": 21,
        "width": 1,
        "height": 1
    },
    {
        "id": "0c8e65c2c357682f",
        "type": "ui_spacer",
        "z": "cd45d37c491888c9",
        "name": "spacer",
        "group": "56fccf47fa0923d4",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "86073f5931a20ad5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "56fccf47fa0923d4",
        "type": "ui_group",
        "name": "Temperature and Humidity",
        "tab": "dashboard_tab",
        "order": 2,
        "disp": true,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "group_temp_hum",
        "type": "ui_group",
        "name": "HCSR-04 Data",
        "tab": "dashboard_tab",
        "order": 1,
        "disp": true,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "dashboard_tab",
        "type": "ui_tab",
        "name": "Sensor Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]